body {
font-family: Arial;
background: #f2f2f2;
}

.container {
width: 400px;
margin: auto;
background: white;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px gray;
}

input, select, button {
width: 100%;
padding: 8px;
margin: 5px 0;
}

button {
background: blue;
color: white;
border: none;
cursor: pointer;
}
